/* --- New styles for Register Form --- */
.form-row {
    display: flex;
    gap: 15px;
    width: 100%;
}

.form-row .input-group {
    flex: 1;
    width: 50%;
}

.form-select {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.form-select:invalid {
    color: #757575;
}